name: CI

# stuff
on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:
  build_test_and_docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: m2-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            m2-${{ runner.os }}-

      - name: Build and test with Maven
        working-directory: oms-service
        run: ./mvnw -B verify

      - name: Upload test and coverage reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-and-coverage-reports
          path: |
            oms-service/target/surefire-reports
            oms-service/target/site/jacoco

      - name: Build Docker image
        run: docker compose -f docker-compose.yaml build oms-service

